In [1]:
import tensorflow as tf
print(tf.__version__)
from tensorflow import keras

2.3.0

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

data = pd.read_csv('G:/research papers/diabetes prediction/diabetes_data_upload.csv')

In [3]:
from sklearn.preprocessing import LabelEncoder
for i in data.columns:
    if data[i].dtype=='object':
        lbl=LabelEncoder()
        lbl.fit(list(data[i].values))
        data[i]=lbl.transform(list(data[i].values))

In [4]:
drop_list = ['Genital thrush','Itching','delayed healing','muscle stiffness','Alopecia','Obesity']
data_1 = data.drop(drop_list,axis = 1 )        # do not modify x, we will use it later 
data_1.head()

,Age,Gender,Polyuria,Polydipsia,sudden weight loss,weakness,Polyphagia,visual blurring,Irritability,partial paresis,class
0,40,1,0,1,0,1,0,0,0,0,1
1,58,1,0,0,0,1,0,1,0,1,1
2,41,1,1,0,0,1,1,0,0,0,1
3,45,1,0,0,1,1,1,0,0,0,1
4,60,1,1,1,1,1,1,1,1,1,1

In [6]:
X = data_1.iloc[:,0:10]
y = data_1.iloc[:,10]

In [7]:
model1=keras.models.load_model('G:/py prog/my_model1')

In [10]:
x1=[[40,1,0,1,0,1,0,0,0,0]]

In [13]:
y1=model1.predict(x1)
y1 = [ 1 if y>=0.5 else 0 for y in y1 ]
print(y1)

[1]