In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
data=pd.read_csv('pima-indians-diabetes.csv')

In [12]:
data.head()

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index,Diabetes pedigree function,Age,Class
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [21]:
data.describe()

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index,Diabetes pedigree function,Age,Class
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Number of times pregnant          768 non-null    int64
 1   Plasma glucose concentration      768 non-null    int64
 2   Diastolic blood pressure (mm Hg)  768 non-null    int64
 3   Triceps skin fold thickness (mm)  768 non-null    int64
 4   2-Hour serum insulin (mu U/ml)    768 non-null    int64
 5   Body mass index                   768 non-null    float64
 6   Diabetes pedigree function        768 non-null    float64
 7   Age                               768 non-null    int64
 8   Class                             768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [13]:
correlations = data.corr()
correlations['Class'].sort_values(ascending=False)

Class                               1.000000
Plasma glucose concentration        0.466581
Body mass index                     0.292695
Age                                 0.238356
Number of times pregnant            0.221898
Diabetes pedigree function          0.173844
2-Hour serum insulin (mu U/ml)      0.130548
Triceps skin fold thickness (mm)    0.074752
Diastolic blood pressure (mm Hg)    0.065068
Name: Class, dtype: float64

In [16]:
X = data[['Plasma glucose concentration','Body mass index']].values
y = data[['Class']].values

In [17]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [19]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

model.fit(X_train, y_train.ravel())
y_pred = model.predict(X_test)

In [20]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[95 12]
 [21 26]]